#heading {
  text-align: center;
  background-color: rgb(66, 64, 64);
  box-shadow: 10px 5px 10px rgb(0, 0, 0);
}

.empty {
   background-color: rgb(27, 28, 28);
}

p {
   font-size: larger;
}

#main-div {
   text-align: center;
   padding: 20px;
   border-radius: 8px;
}
#wallet-button{
  margin-top: 5px;
}

/* Center the buttons in their parent div */
button {
   display: block;
   margin: 0 auto;
}